@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@font-face {
  font-family: "Katahdin Round";
  src: url("fonts/katahdin-round/KatahdinRound.otf");
  font-weight: 400;
}

@font-face {
  font-family: "General Sans";
  src: url("fonts/GeneralSans_Complete/GeneralSans_Complete/Fonts/OTF/GeneralSans-Regular.otf");
  font-weight: 500;
}

body {
  margin: 0;
  line-height: normal;
}