.delete-icon-loading {
    position: absolute;
    top: 1581.531rem;
    left: 175.256rem;
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
}

.frame-child-loading {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: -9rem;
    border-radius: 20px;
    background-color: #11161e;
    width: 138rem;
}

.wrapper-group-2985-loading-child {
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: contain;
    position: absolute;
    left: 0;
    top: -7.187rem;
    transform: scale(1.744);
}

.wrapper-group-2985-loading {
    position: absolute;
    top: 28.938rem;
    left: -1.187rem;
    width: 122.375rem;
    height: 31.063rem;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rectangle-parent-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
        background-color: #0e1117 !important;
}

.group-icon {
    position: absolute;
    top: -0.562rem;
    left: 74.813rem;
    width: 70.319rem;
    height: 68.063rem;
    z-index: 2;
}

.frame-parent-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.loading {
    width: 100%;
    height: 64.375rem;
    position: relative;
    background-color: #0e1117 !important;
    overflow: hidden;
    line-height: normal;
    letter-spacing: normal;
}